


.button {  width:60px; text-align:center;
    font-family:System,sans-serif;
    font-size:100%; }
.affiche { width:100%; text-align:right;
    font-family:System,sans-serif;
    font-size:100%; }
    table{
        background-color: rgb(25, 27, 26);
        border: black 2px solid;
    }
